<div class="card mt-2 mb-2">
  <div class="card-header">
    <h2>
      MMSI <%= @source.mmsi.to_s %>
    </h2>
  </div>
  <div class="card-body">
    <div class="card mt-2 mb-2">
      <div class="card-header">
        <h2>
          Message data
        </h2>
      </div>
      <div class="card-body">
        <%= render 'shared/static_data',
          rows: @message_rows,
          headers: @message_headers
        %>
      </div>
    </div>
  </div>
</div>
