<div class="card mt-2 mb-2">
  <div class="card-header">
    <h4>
      MMSI <%= @source.mmsi.to_s %>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'shared/card',
      title: "Message data",
      headers: @message_table.header_rows,
      rows: @message_table.message_rows
    %>
  </div>
</div>
