<div class="card mt-2 mb-2">
  <div class="card-header">
    <h4>
      MMSI <%= @source.mmsi.to_s %>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'shared/card',
      title: "Message data",
      headers: @message_table.headers("specific"),
      rows: @message_table.specific_rows
    %>
    <% if @message_table.has_dimensions? %>
      <%= render 'shared/card',
        title: "Dimensions",
        rows: @message_table.dimension_rows,
        headers: @message_table.headers("dimension")
      %>
    <% end %>
  </div>
</div>
