<div class="card mt-2 mb-2">
  <div class="card-header">
    <h4>
      MMSI <%= @source.mmsi.to_s %>
    </h4>
  </div>
  <div class="card-body">
    <%= render 'shared/card',
      title: "Message data",
      rows: @message_rows,
      headers: @message_headers
    %>
  </div>
</div>
