<div class="card mt-4">
  <div class="card-header">
    <h4>
      Destinations
    </h4>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h5>
          <%= @source.all_destinations.join(", ") %>
        </h5>
      </div>
    </div>
  </div>
</div>
