<div class="card">
  <div class="card-header">
    <h4>All <%= @sources.length %> sources</h4>
  </div>

  <div class="card-body">
    <%= render "source_table",
      sources: @sources %>
  </div>
</div>
