<div class="card">
  <div class="card-header">
    <%= link_to(
      "Live map",
      live_maps_path,
      target: "_blank",
      class: "btn btn-danger",
    ) %>
  </div>
  <div class="card-body">
    <h4>Recently added</h4>
    <%= render "shared/source_table", sources: @recently_added %>
    <h4>Recently seen</h4>
    <%= render "shared/source_table", sources: @recently_seen %>
  </div>
</div>
