<div class="card mt-2">
  <div class="card-header">
    <h4>
      MMSI <%= @source.mmsi.to_s %>
    </h4>
  </div>
  <div class="card-body">
    <%= render "shared/source_info", {
      source: @source,
      messages: @messages
    } %>

    <%= render "shared/message_info", {
      messages: @messages
    } %>

    <% if @positions.length > 0 %>
      <%= render "shared/position_info", {
        source: @source,
        positions: @positions
      } %>
    <% end %>
  </div>
</div>
