<div class="card mt-4">
  <div class="card-header">
    <h4>
      Positions
    </h4>
  </div>

  <div class="card-body">
    <div class="row mb-2">
      <div class="col-sm-6">
      <% messages.first.tap do |message| %>
        <% if message %>
          <%= render "positions/position_details",
            message: message,
            when_seen: "First"
          %>
        <% end %>
      <% end %>
      </div>

      <div class="col-sm-6">
      <% messages.last.tap do |message| %>
        <% if message %>
          <%= render "positions/position_details",
            message: message,
            when_seen: "Last"
          %>
        <% end %>
      <% end %>
      </div>
    </div>

    <div>
      <%= link_to(
        "Show on map",
        source_heatmaps_path(source),
        class: "btn btn-danger",
      ) %>
    </div>
  </div>
</div>
