<% home = Rails.application.credentials.ground_station_lat_lon %>
<div class="card mt-4">
  <div class="card-header">
    <h4>
      Positions
    </h4>
  </div>
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h5>First seen</h5>
        <%= render "positions/position_details",
          position: positions.first %>
      </div>
      <div class="col-sm-6">
        <% if positions.length > 1 %>
        <h5>Last seen</h5>
        <%= render "positions/position_details",
            position: positions.last %>
        <% end %>
      </div>
    </div>
    <div class="row mb-2">
    </div>
    <div>
      <%= link_to(
        "Show on map",
        source_heatmaps_path(source),
        target: "_blank",
        class: "btn btn-danger",
      ) %>
    </div>
  </div>
</div>
