<div data-controller="paths" class="map">
  <div class="map"
    data-action="google-maps-callback@window->paths#initMap"
    data-paths-target="map"
    data-lat="32.69669"
    data-lon="-117.15301"
    data-src="<%= @source.id %>">
  </div>
<div>
