<div class="card map-wrapper" data-controller="live-maps">
  <div class="card-header">
    <a class="btn btn-primary"
      data-action="click->live-maps#toggleZoom"
      href="#">
        Toggle zoom
    </a>
  </div>

  <div class="card-body map-adjusted">
    <div class="map-adjusted">
      <div class="map-adjusted"
        data-action="google-maps-callback@window->live-maps#initMap"
        data-live-maps-target="map"
        data-lat="32.69669"
        data-lon="-117.15301">
      </div>
    </div>
  </div>
</div>

<div class="card">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Max distance</th>
        <th>Avg course</th>
        <th>Avg speed</th>
      </tr>
    </thead>
    <tbody id="live-summary">
    </tbody>
  </table>
</div>
