<div class="card" style="width: 100%; height: 90%;">
  <div class="card-body" style="width: 100%; height: 100%;">
    <div data-controller="live-maps" class="map">
      <div class="map"
        data-action="google-maps-callback@window->live-maps#initMap"
        data-live-maps-target="map"
        data-lat="32.69669"
        data-lon="-117.15301">
      </div>
    </div>
  </div>
</div>
