<div data-controller="live-maps" class="map">
  <div class="map"
    data-action="google-maps-callback@window->live-maps#initMap"
    data-live-maps-target="map"
    data-lat="32.69669"
    data-lon="-117.15301">
  </div>
<div>
