<div class="card map-wrapper">
  <div class="card-body map-adjusted">
    <div data-controller="live-maps" class="map-adjusted">
      <div class="map-adjusted"
        data-action="google-maps-callback@window->live-maps#initMap"
        data-live-maps-target="map"
        data-lat="32.69669"
        data-lon="-117.15301">
      </div>
    </div>
  </div>
</div>
