<div class="card mt-4">
  <div class="card-header">
    <h4>
      Messages received
    </h4>
  </div>
  <div class="card-body">
    <% messages.order(:type).group(:type).count.each do |type, total| %>
      <div class="row mt-2">
        <%= parse_message_type(type, total) %>
      </div>
    <% end %>
  </div>
</div>
