<div class="card" style="width: 100%; height: 90%;">
  <div class="card-body" style="width: 100%; height: 100%;">
    <div data-controller="heatmaps" class="map">
      <div class="map"
        data-action="google-maps-callback@window->heatmaps#initMap"
        data-heatmaps-target="map"
        data-lat="32.69669"
        data-lon="-117.15301"
        data-src="<%= @source.id %>">
      </div>
    </div>
  </div>
</div>
