<div class="card map-wrapper" data-controller="heatmaps">
  <div class="card-header">
    <h4 class="card-title">
      <%= @source.display_name %>
    </h4>
      <a class="btn btn-primary"
        data-action="click->heatmaps#toggleHeatmap"
        href="#">
          Toggle heatmap
      </a>
      <a class="btn btn-secondary"
        data-action="click->heatmaps#toggleZoom"
        href="#">
          Toggle zoom
      </a>
  </div>

  <div class="card-body map-adjusted">
    <div class="map-adjusted"
      data-action="google-maps-callback@window->heatmaps#initMap"
      data-heatmaps-target="map"
      data-lat="32.69669"
      data-lon="-117.15301"
      data-src="<%= @source.id %>">
    </div>
  </div>
</div>
