<div class="card mt-2">
  <div class="card-header">
    <h2>
      Static data
    </h2>
  </div>
  <div class="card-body">
    <% @message_rows.each do |row| %>
    <hr />
    <% row.each_with_index do |column, ndx| %>
    <div class="row">
      <div class="col-sm-6">
        <%= @message_headers[ndx] %>
      </div>
      <div class="col-sm-6">
        <%= column %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<div class="card mt-4">
  <div class="card-header">
    <h2>
      Dimensions
    </h2>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <% @dimension_headers.each do |header| %>
            <th>
              <%= header %>
            </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @dimension_rows.each do |row| %>
          <tr>
            <% row.each do |column| %>
            <td>
              <%= column %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
